button {
    background-color: #1976D2; /* Button color */
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  input {
    padding: 8px;
  }

  
  @media (max-width: 600px) {
    .container {
      padding: 10px;
    }
  
  }
  